:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f4f7f6;
  color: #333;
}

.app-container {
  display: flex;
  flex-direction: column; /* Mengatur susunan secara vertikal */
  min-height: 100vh;
  background-color: #f4f7f6;
}